<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Org Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<center>
		<div class="container">
			<div class="row" style="margin-top: 10vh;">
			    <div class="col-md-4" style="text-align: left;">
			    	<div class="row">
				    	<label for="select_org">Sector Level: </label>
				    	<select style="width: 100%;" name="secotor_org" id="select_org">
				    		<option value="all">All</option>
				    		<option value="org_name_1">level1</option>
				    		<option value="org_name_2">levle2</option>
				    		<option value="org_name_2">levle3</option>
				    		<option value="org_name_2">levle4</option>
				    		<option value="org_name_2">levle5</option>
				    	</select>
					</div>
			    </div>
			<div class="col-md-8" style="margin-top: 10vh;">
			    <div class="col-md-12"> 
			        <table class="table table-striped table-hover">
				        <thead>
				            <th>No</th>
				            <th>Sectors</th>
				        </thead>
				        <tbody>
				        {% for result in Sectors %}
					        <tr>
					           <td>{{forloop.counter}}</td>
					           <td><a href="sectororgs/{{result.id}}">{{result.sector_name}}</a></td>
					        </tr>
				        {% endfor %}
				        </tbody>
			        </table>
			    <div>
			</div>
		</div>
	</center>
</body>
</html>